/* Smaller screens ------------------- */
@media only screen and (max-width: 800px) {
  main .section-skills_skills-container, main .section-projects-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .section-skills_skills-container div, main .section-projects-container div {
    width: 88%;
  }
  main .section-work-exp-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .section-work-exp-container div {
    width: 88%;
  }
  #spacer {
    padding-bottom: 40px;
  }
  * {
    word-wrap: word-break;
  }
  main {
    padding: 5em 1.5em 4em 1.5em;
  }
  .section-quotes-container {
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-quotes-container button {
    display: none;
  }
  #mobile-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  #mobile-buttons button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #mobile-buttons h4 {
    position: relative;
    top: 15px;
  }
}

/* Larger screens ------------------- */
@media only screen and (min-width: 801px) {
  main .section-skills_skills-container, main .section-projects-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .section-skills_skills-container div, main .section-projects-container div {
    width: 30%;
    padding-right: 2%;
  }
  main .section-work-exp-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .section-work-exp-container div {
    width: 45%;
    padding-right: 2%;
  }
  #spacer {
    padding-bottom: 120px;
  }
  main {
    padding: 5em 4em 4em 4em;
    margin: 0 auto;
    max-width: 850px;
  }
  #quote-content {
    height: 150px;
  }
  #mobile-buttons {
    display: none;
  }
  .section-projects-container div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-projects-container a {
    margin-bottom: 20px;
  }
  .section-projects-container .tech-stack {
    margin-top: auto;
  }
  .section-work-exp-container div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-work-exp-container p {
    margin-bottom: 0;
  }
  .section-work-exp-container .tech-stack {
    margin-top: auto;
  }
}

header, header.hidden {
  background-color: #A9CBB7;
  color: #2C363F;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  top: 0px;
  padding: 0;
  text-align: center;
  z-index: 1000;
}

header h2, main h2 {
  font-variant: small-caps;
  line-height: 1em;
  padding-bottom: 10px;
  margin: 0;
}

html {
  background-color: #F7F7F7;
  font-family: "Oswald", sans-serif;
  color: #2C363F;
  word-wrap: break-word;
}

html body {
  margin: 0;
}

html p, html li {
  font-family: "Quattrocento Sans", sans-serif;
}

html ul {
  padding-left: 1em;
}

html ul li {
  padding: 0 0 0.5em 0;
}

html ul.tech-stack {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html ul.tech-stack li {
  list-style: none;
  margin-right: 0.5em;
  padding: 0;
  color: #3D5A80;
}

html a {
  position: relative;
  text-decoration: none;
  color: #2C363F;
}

html a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #3D5A80;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

html a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

header h1 {
  font-size: 4em;
  margin: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

header h2 {
  color: #3D5A80;
}

header ul {
  font-size: 0.8em;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header ul li {
  padding: 0em 1em;
}

header.hidden h1 {
  font-size: 2em;
  margin: 0;
  margin-top: 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

header.hidden h2 {
  display: none;
}

header.hidden ul {
  font-size: 0.8em;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

header.hidden ul li {
  padding: 0em 1em;
}

main {
  background-color: #F7F7F7;
}

main h1 {
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  color: #3D5A80;
}

main h1:after {
  content: "";
  margin-left: 10px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  border-bottom: 2px solid #A9CBB7;
  overflow: hidden;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main h2.job-title {
  font-size: 2em;
}

main h3 {
  font-size: 0.9em;
  margin-top: 0;
}

main .section-projects-container h3 {
  margin: 0;
  font-size: 1em;
}

main .section-work-exp-container div {
  margin-bottom: 10px;
}

main .section-quotes-container h3 {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 100%;
  font-weight: bold;
}

main .section-quotes-container article {
  margin: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .section-quotes-container p {
  margin: 0;
  font-family: "Quattrocento Sans", sans-serif;
  letter-spacing: 120%;
  color: #3D5A80;
  margin-bottom: 5px;
}

main .section-quotes-container .section-quotes-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .section-quotes-container .section-quotes-bottom div {
  max-width: 60%;
}

main .section-quotes-container .section-quotes-person {
  margin: 0 0.5em;
  text-align: right;
}

main button {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  padding: 30px 40px 40px 40px;
  font-size: 150%;
  text-align: center;
  background-color: transparent;
  border: none;
  margin: 0 10px;
}

main button:hover {
  cursor: pointer;
}

main button:focus {
  outline: 0;
}

main .quote-next::after {
  content: ">";
  position: absolute;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  margin-bottom: 10px;
}

main .quote-next:hover::after {
  -webkit-transform: translate(10px, 0);
          transform: translate(10px, 0);
}

main .quote-back::before {
  content: "<";
  position: absolute;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  margin-bottom: 10px;
}

main .quote-back:hover::before {
  -webkit-transform: translate(-10px, 0);
          transform: translate(-10px, 0);
}

main #section-summary a {
  color: #3D5A80;
}
/*# sourceMappingURL=style.css.map */