// FONTS

$font-primary: 'Oswald', sans-serif;
$font-secondary: 'Quattrocento Sans', sans-serif;

// COLORS

$color-bg-bright: #F7F7F7;
$color-dark: #2C363F;
$color-accent-dull: #3D5A80;
$color-accent-bright: #A9CBB7;

/* Smaller screens ------------------- */
@media only screen and (max-width : 800px) {
  %three-column-flex-shared {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    div {
      width: 88%;
    }
  }
  
  %two-column-flex-shared {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    div {
      width: 88%;
    }
  }

  #spacer {
    padding-bottom: 40px;
  }

  * {
    word-wrap: word-break;
  }

  main {
    padding: 5em 1.5em 4em 1.5em;
  }

  .section-quotes-container {
    height: inherit;
    display: flex;

    button {
      display: none;
    }

  }
  #mobile-buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    button {
      display: flex;
    }
    h4 {
      position: relative;
      top: 15px;
    }
  }
} 

/* Larger screens ------------------- */
@media only screen and (min-width : 801px) {
  %three-column-flex-shared {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    div {
      width: 30%;
      padding-right: 2%;
    }
  }
  
  %two-column-flex-shared {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    div {
      width: 45%;
      padding-right: 2%;
    }
  }

  #spacer {
    padding-bottom: 120px;
  }

  main {
    padding: 5em 4em 4em 4em;
    margin: 0 auto;
    max-width: 850px;
  }

  #quote-content {
    height: 150px;
  }

  #mobile-buttons {
    display: none;
  }

  .section-projects-container {
    div {
      display: flex;
      flex-direction: column;
    }
    .tech-stack {
      padding-top: 20px;
      margin-top: auto;
    }
  }

  .section-work-exp-container {
    div {
      display: flex;
      flex-direction: column;
    }
    p {
      margin-bottom: 0;
    }
    .tech-stack {
      margin-top: auto;
    }
  }
}


%header-shared {
  background-color: $color-accent-bright;
  color: $color-dark;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 0px;
  padding: 0;
  text-align: center;
  z-index: 1000;
}

%headings-shared {
  font-variant: small-caps;
  line-height: 1em;
  padding-bottom: 10px;
  margin: 0;
}

%buttons-shared {

}

html {
  background-color: $color-bg-bright;
  font-family: $font-primary;
  color: $color-dark;
  word-wrap: break-word;

  body {
    margin: 0;
  }
  p, li {
    font-family: $font-secondary;
  }
  ul {
    padding-left: 1em;
    li {
      padding: 0 0 0.5em 0;
    }
  }

  ul.tech-stack {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    li {
      list-style: none;
      margin-right: 0.5em;
      padding: 0;
      color: $color-accent-dull;
    }
  }

  a {
    position: relative;
    text-decoration: none;
    color: $color-dark;
  } 
  a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $color-accent-dull;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

header {
  @extend %header-shared;

  h1 {
    font-size: 4em;
    margin: 0;
    transition: all .5s;
  }

  h2 {
    @extend %headings-shared;
    color: $color-accent-dull;
  }

  ul {
    font-size: 0.8em;
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
    
    li {
      padding: 0em 1em;
    }
  }
}

header.hidden {
  @extend %header-shared;

  h1 {
    font-size: 2em;
    margin: 0;
    margin-top: 10px;
    transition: all .5s ease;
  }

  h2 {
    display: none;
  }

  ul {
    font-size: 0.8em;
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0;

    li {
      padding: 0em 1em;
    }
  }
}

main {
  background-color: $color-bg-bright;

  h1 {
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    color: $color-accent-dull;
  }

  h1:after {
    content: "";
    margin-left: 10px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    border-bottom: 2px solid $color-accent-bright;
    overflow: hidden;
    justify-content: space-around;
  }

  h2 {
    @extend %headings-shared;
  }

  h2.job-title {
    font-size: 2em;
  }

  h3 {
    font-size: 0.9em;
    margin-top: 0;
  }

  .section-skills_skills-container {
    @extend %three-column-flex-shared;
  }

  .section-projects-container {
    @extend %three-column-flex-shared;
  
    h3 {
      margin: 0;
      font-size: 1em;
    }
  }

  .section-work-exp-container {
    @extend %two-column-flex-shared;

    div {
      margin-bottom: 10px;
    }
  }

  .section-quotes-container {

    h3 {
      font-family: $font-secondary;
      font-size: 100%;
      font-weight: bold;
    }
    article {
      margin: 0 1em;
      display: flex;
    }
    p {
      margin: 0;
      font-family: $font-secondary;
      letter-spacing: 120%;
      color: $color-accent-dull;
      margin-bottom: 5px;
    }
    
    .section-quotes-bottom {
      display: flex;
      justify-content: center;
      div {
        max-width: 60%;
      }
    }
    
    .section-quotes-person {
      margin: 0 0.5em;
      text-align: right;
    }
    
    
  }
  
  button {
    font-family: $font-primary;
    font-weight: bold;
    padding: 30px 40px 40px 40px;
    font-size: 150%;
    text-align: center;
    background-color: transparent;
    border: none;
    margin: 0 10px;
  }
  
  button:hover {
    cursor: pointer;
  }

  button:focus {
    outline: 0;
  }
  
  .quote-next::after {
    content: ">";
    position: absolute;
    transition: all .3s ease-in;
    margin-bottom: 10px;
  }
  .quote-next:hover::after {
    transform: translate(10px,0);
  }

  .quote-back::before {
    content: "<";
    position: absolute;
    transition: all .3s ease-in;
    margin-bottom: 10px;
  }
  .quote-back:hover::before {
    transform: translate(-10px,0);
  }
  
}